html, body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: 'Omori';
  src: url(fonts/omori.woff2) format('woff2'),
    url(fonts/omori.woff) format('woff'),
    url(fonts/omori.ttf) format('truetype');
}
.textside h1{
font-family: 'Omori';
font-size: 150px;
text-align: center;
color: #112A46;
}

.w3-button1 {
  font-family: "Omori";
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 15%;
  color:#112A46;
  background-color: white;
  border: 5px solid #112A46;
  border-radius: 12px;
  padding: 0px 0px;
}
.button2 {
  font-family: "Omori";
  font-size: 80px;
  color:#112A46;
  border-radius: 20px;
  border: 5px solid #112A46;
  background-color: white;